@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));


.orbitron-500 {
    font-family: "Orbitron", serif !important;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}